<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cookandroid.kmap_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kmap_test"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".search"/>
        <activity android:name=".timetable"/>
        <activity android:name=".EditActivity"/>
        <activity android:name=".guide_a1"/>
        <activity android:name=".guide_a2"/>
        <activity android:name=".guide_a8"/>
        <activity android:name=".guide_a9"/>

        <activity android:name=".guide_b1"/>
        <activity android:name=".guide_b2"/>
        <activity android:name=".guide_b3"/>
        <activity android:name=".guide_b4"/>
        <activity android:name=".guide_b8"/>


        <activity android:name=".guide_c1"/>
        <activity android:name=".guide_c2"/>
        <activity android:name=".guide_c4"/>
        <activity android:name=".guide_c6"/>
        <activity android:name=".guide_c7"/>
        <activity android:name=".guide_c9"/>
        <activity android:name=".guide_c12"/>
        <activity android:name=".guide_c13"/>

        <activity android:name=".guide_d1"/>
        <activity android:name=".guide_d2"/>
        <activity android:name=".guide_d5"/>
        <activity android:name=".guide_d6"/>
        <activity android:name=".guide_d7"/>
        <activity android:name=".guide_d8"/>
        <activity android:name=".guide_d9"/>
        <activity android:name=".guide_d10"/>
        <activity android:name=".guide_d11"/>
        <activity android:name=".guide_d15"/>
        <activity android:name=".guide_d17"/>
        <activity android:name=".guide_d18"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ea1fba66e2db8149a4bc66484767d771" />



    </application>

</manifest>